<div id="header">
  <div id="username"><%= link_to "Intoro", root_path %></div>
</div>

<h2>Questions?</h2>

<div>
  <h3>Why is this picture (seen below) on my sidebar?</h3>
  <p><%= gravatar_image_tag("foo@bar.org", class: "grav") %></p>
  <p>Intoro uses a service called <%= link_to "Gravatar", "http://gravatar.com" %> to render avatars for our users. If you have entered an email that does not have an associated Gravatar, this placeholder image is served instead. Gravatar is a direct inspiration to this site and we encourage you to sign up there as well – they work quite well together!</p>
</div>

<div>
  <h3>Is my stuff safe?</h3>
  <p>Intoro uses an open API system – you can read about it in our <%= link_to "API Docs", page_path("api") %>. In a nutshell, accessing the Intoro API requires that you provide your email address to a different service. In return, the only thing used to access your content on this site is that <em>same</em> email address. Intoro's data is inherently meant to be public, as it is shared between various sites; therefore, we encourage you to not store any private admissions or words inside your bio that you may not want to share with the Internet.</p>
</div>

<div>
  <h3>Did we miss something?</h3>
  <p>If you have any concerns, comments, or questions, please feel free to <%= link_to "contact us", "mailto:kristian@kristianfreeman.com" %>.</p>
</div>
